name: Build Kivy APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.11

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt-get update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip3 install --user --upgrade Cython==0.29.33 virtualenv
          pip install --upgrade pip
          pip install buildozer cython setuptools
          pip install docwriter

          git clone https://github.com/kivy/buildozer
          cd buildozer
          python setup.py build
          pip install -e.
          
#      - name: Clean previous Buildozer builds
#        run: |
#          buildozer android clean

      - name: Build APK
        run: |
          buildozer init || true
          echo y | buildozer android debug
          


      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: kivy-app-apk
          path: bin/*.apk
